body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #2afec9 -29.09%,
    #0538a5 51.77%,
    #2c9e85 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.center {
  text-align: center;
}

#sidebar {
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}